# Python bytecode
__pycache__
*.egg-info

# Django dynamic directories
logs
media


# Environment variables


# Virtual environment
.venv
envname
venv

# Static files
node_modules

# IDE config



.DS_Store
*.pyc

.idea

temp_auto_push.bat
temp_interactive_push.bat
.gitignore
